body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
    background-color: #05010e;
    list-style: none;
    
}



#container>header>nav {
    height: 120px; /* aumentar o tamanho da nav do menu */
    width: 100%;
    /* background-color: #463b3b; */
    text-decoration: none;
    color: #ffffff;
    list-style: none;
    
}

#menu {
    float: right;
    margin-right: 5px;
    display: flex;
    line-height: 90px; /* maregem do topo do menu */
    padding: 0 90px;
    gap: 30px;  /*aumentar o tamnho do click do menu*/
    list-style: none;

}

a:link{ 
    text-decoration: none; /*retirar o sublinhado do link*/
    color: #ffffff;
}

a:hover{
    text-decoration: none; /*mudar de cor ao passar mouse por cima*/
    background-color: rgb(19, 40, 58);
}

a:visited{
    color: #ffffff; /* definir a cor depois de clicado */
}

#logocabeçalho {
    width: 300px;
    padding: 0 80px;
    margin-top: 20px; /* margem do topo da logo */
    /*position: fixed; fixar a barra no topo da pagina*/
}
#logo {
    color: #ffffff;
    font-size: 15pt;
    padding: 0 180px;
    margin-top: 50px;
    
}



/*Pagina inicial no main  */


html{
    scroll-behavior: smooth; /*para lincar o menu a cada pagina */
}

section{
    min-height: 100vh;
}

/* #inicio{
    background-color: rgb(19, 180, 126);
} */

#perfil{
    background-color: rgb(172, 14, 132);
}

#disciplinas{
    background-color: rgb(189, 177, 8);
}

#informacoes{
    background-color: rgb(172, 14, 14);
}

#inicio img{
    width: 550px;
    height: 450px;
    padding: 0 50px;
    
}

#conteudo {
    margin: 90px;
    display: flex;
    /* align-items: center; */
    margin-top: 50px;
}


#inicio p{
    font-size: 50pt;
    color: #ffffff;
    
}

#celular{
    border-radius: 90px;
}





