body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
    background-color: #080616;
    list-style: none;
    
}



#container>header>nav {
    height: 120px; /* aumentar o tamanho da nav do menu */
    width: 100%;
    /* background-color: #463b3b; */
    text-decoration: none;
    color: #ffffff;
    list-style: none;
    
}

#menu {
    float: right;
    margin-right: 5px;
    display: flex;
    line-height: 90px; /* margem do topo do menu */
    padding: 0 90px;
    gap: 30px;  /*aumentar o tamnho do click do menu*/
    list-style: none;

}

.cabecalho>a:link{ 
    text-decoration: none; /*retirar o sublinhado do link*/
    color: #ffffff;
}

.cabecalho>a:hover{
    text-decoration: none; /*mudar de cor ao passar mouse por cima*/
    background-color: rgb(19, 40, 58);
}

.cabecalho>a:visited{
    color: #ffffff; /* definir a cor depois de clicado */
}

#logocabeçalho {
    width: 300px;
    padding: 0 80px;
    margin-top: 20px; /* maregem do topo da logo */
    /*position: fixed; fixar a barra no topo da pagina*/
}
#logo {
    color: #ffffff;
    margin-top: 50px;
    font-size: 15pt;
    padding: 0 180px;
    
}



html{
    scroll-behavior: smooth; /*para lincar o menu a cada pagina */
}

section{
    min-height: 100vh;
}

/* #inicio{
    background-color: rgb(167, 201, 190);
} */

#perfil{
    background-color: rgb(172, 14, 132);
}

#disciplinas{
    background-color: rgb(189, 177, 8);
}

#informacoes{
    background-color: rgb(172, 14, 14);
}

.conteudo{
    display: flex;
    width: 100%;
    max-width: 1260px;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
    flex-wrap: wrap;
}

.paragrafo{
    font-size: 50pt;
    color: #ffffff;
    margin-top:10px;
    overflow-wrap: break-word;
    padding: 20px;
}

.btn_inicial>button{
    display: block;
    background-color: rgb(6, 161, 58);
    width: 200px;   /*tamanho da parte verde do botao  */
    height: 60px;
    border-radius: 50px;
    justify-items: flex-start;
    margin-top: -120px; /*para levar o botao para cima  */
    margin-right: 890px; /*para trazer o botao para esquerda */


    
}

.btn_inicial>button>a:link{
    color: rgb(12, 12, 12);
    text-decoration: none;
    /* padding: 10px 5px 10px 5px; */
    font-size: 20px;

}

.btn_inicial>button>a:visited{
    color: #ffffff; /* definir a cor depois de clicado */
}

.celular>img{
    width: 400px; 
    height: 450px;
    border-radius: 50px;
    
}